
  <%- include('../partials/header') %>

    <form action="/flights/" method="POST" autocomplete="off"><br>
        <select name="airline">
            <% airlines.forEach((airline) => { %>
            <option value="<%= airline %>"><%= airline %></option>
            <% }) %>
        </select><br>
        <select name="airport">
            <% airports.forEach((airport) => { %>
            <option value="<%= airport %>"><%= airport %></option>
            <% }) %>
        </select><br>
        <input placeholder="Flight Number" type="text" name="flightNo" value="" ><br>
        <input placeholder="Depart Date" type="datetime-local" name="departs" value="" ><br>
        <br>
        <button type="submit">Submit</button>
    </form>
    <br>
    <a href="/"><button>Cancel</button></a>

    

    <%- include('../partials/footer') %>